
body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

header {
    height: 70px;
    width: 100%;
    background-color: #FFBF00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo {
    width: 80px;
    height: 40px;
}

h1 {
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: -25;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-family: Verdana, Tahoma;
    border-bottom: 4px dotted #dfdfe2;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea, input[type="file"], button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #FFBF00;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #FFA500;
}
